<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="MyWpfApp"
    Manufacturer="Tivole"
    Version="1.0.0"
    Compressed="yes"
    UpgradeCode="bc5d0596-984c-4698-9164-0f8d89442830"
  >
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="MyWpfAppIcon" SourceFile="ubuntu.ico" />

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory
        Id="ApplicationProgramsFolder"
        Name="!(bind.Property.ProductName)"
      />
    </StandardDirectory>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>

    <Feature Id="Main">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

      <ComponentGroup Id="MyWpfAppComponents">
        <Component
            Id="WpfApp"
            Guid="7d3f9b16-7c8b-4798-becf-a48d87152f08"
            Directory="INSTALLFOLDER"
            >
          <File Source="../src/publish/D3DCompiler_47_cor3.dll" />
          <File Source="../src/publish/PenImc_cor3.dll" />
          <File Source="../src/publish/sample-wpf-app.exe" />
          <File Source="../src/publish/PresentationNative_cor3.dll" />
          <File Source="../src/publish/vcruntime140_cor3.dll" />
          <File Source="../src/publish/wpfgfx_cor3.dll" />
        </Component>

        <Component
          Id="MyWpfAppShortcut"
          Guid="982e19f5-c25a-41c1-bc15-bb60eb0f37fc"
          Directory="INSTALLFOLDER"
        >
          <Shortcut
            Id="MyWpfAppDesktopShortcut"
            Name="MyWpfApp"
            Description="MyWpfApp"
            Target="[INSTALLFOLDER]sample-wpf-app.exe"
            WorkingDirectory="INSTALLFOLDER"
            Icon="MyWpfAppIcon"
            IconIndex="0"
            Directory="DesktopFolder"
          />

          <Shortcut
            Id="MyWpfAppStartMenuShortcut"
            Name="MyWpfApp"
            Description="MyWpfApp"
            Target="[INSTALLFOLDER]sample-wpf-app.exe"
            WorkingDirectory="INSTALLFOLDER"
            Icon="MyWpfAppIcon"
            IconIndex="0"
            Directory="ApplicationProgramsFolder"
          />

          <RemoveFolder
            Id="CleanUpShortcuts"
            Directory="ApplicationProgramsFolder"
            On="uninstall"
          />
          <RegistryValue
            Root="HKCU"
            Key="Software\MyWpfApp"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes"
          />
        </Component>
      </ComponentGroup>

    <Feature Id="INSTALLFOLDER">
        <ComponentGroupRef Id="MyWpfAppComponents" />
    </Feature>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="WpfApp" />
    </ComponentGroup>
  </Package>
</Wix>
