<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="MyWpfApp"
    Manufacturer="Tivole"
    Version="1.0.0"
    UpgradeCode="bc5d0596-984c-4698-9164-0f8d89442830"
  >
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="MyWpfAppIcon" SourceFile="ubuntu.ico" />
    <Property Id="ARPPRODUCTICON" Value="MyWpfAppIcon" />

    <Feature Id="App">
      <ComponentGroupRef Id="MyWpfAppComponents" />
      <ComponentRef Id="MyWpfAppShortcut" />
    </Feature>
  </Package>
</Wix>
